body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;   
}
.current:visited {
    color: green;
}
a:visited {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
